<!--
   workout_form.html
   
   Copyright 2012 user <user@VAIO>
   
   This program is free software; you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation; either version 2 of the License, or
   (at your option) any later version.
   
   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
   
   You should have received a copy of the GNU General Public License
   along with this program; if not, write to the Free Software
   Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
   MA 02110-1301, USA.
   
   
-->

{% extends "dojango/base.html" %}

{# setting the <title> attribute #}
{% block dojango_page_title %}PressCalc - workout{% endblock %}
{% block dojango_header_extra %}
{% endblock %}
{% block dojango_content %}
      Выбираем заказ и сотрудника
<form action="/workout/" method="post">
      <table>
      {{ workout_form.as_table }}
      </table>
      <input type="submit" value="OK" />
</form>
<script type="text/javascript">
    dojo.require("dijit.form.FilteringSelect");
    // scan page for widgets and instantiate them
    dojo.require("dojo.parser");	
</script>
{% endblock %}
