{% extends 'base.html' %}


{% block title %}
Главная страница
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate eligendi minus neque nihil officia pariatur placeat quas quo ratione sed! Eius, natus, sequi? Animi id maiores minima numquam placeat provident rem repellat similique velit voluptatibus. Alias aut, autem commodi consectetur cumque dolore doloremque expedita harum illo in magnam magni nam nobis odio provident quaerat, quam qui quos sequi sunt! Alias dignissimos, esse iure modi nam praesentium quod rem rerum saepe sit, soluta suscipit velit. Cum, delectus deserunt dolore, eos ex fugiat laborum maiores numquam odio, pariatur quaerat quia quo quod ratione voluptatibus! Beatae consequatur laborum quo. Ad beatae tempore tenetur?
            </div>
    </div>
</div>

{% endblock %}